.form-body{
	margin-top: 5vh;
	display: flex;
	justify-content: center;
	font-family: 'Jost', sans-serif;
}
.uploadlabel{
	font-family: forma-djr-text !important;
	color: black !important;
	color: #fff;
	font-size:calc(12px + 3vw);
	justify-content: center;
	display: flex;
	font-weight: bold;
	transform: scale(.6);
}
.upperuploadlabel{
	width: 55%;
	height: 10%;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 20px auto;
	padding-left: 10px;
	padding-right: 10px;
	background: black;
    font-size: 1.4em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
	padding: 10px;
    font-family: forma-djr-text;
    font-weight: 700;
    line-height: 0em;
    height: 5vh;
}
.uploadinput{
	width: 55%;
	height: 10%;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 20px auto;
	padding-left: 10px;
	padding-right: 10px;
}
.mainuploadform{
	margin-top: 50px;
	width: 40%;
	height: 400px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
.uploadform{
	margin-top: 3vh;
	height: 100%;
	border-radius: 60% / 5%;
}
.uploadbutton{
	width: 60%;
	height: 10%;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 20px auto;
	padding-left: 10px;
	padding-right: 10px;
	background: black;
    font-size: 1.4em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
	padding: 10px;
    font-family: forma-djr-text;
    font-weight: 700;
    line-height: 0em;
    height: 7.2vh;
}
.uploadbutton:hover{
	background: #855ad6;
}

.upperuploadlabel:hover{
	background: #855ad6;
}
.fileinput{
	border: 2px #000;
	display:none;
}